# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
dist/
www/lib/
package-hooks/
.DS_Store
app-settings.json
.idea/
.io-config.json
*.apk
*.app.zip
*.ipa
www/dist/
config.xml
package.json
coverage/

GoogleService-Info.plist
google-services.json
resources/android
resources/ios
resources/icon.png
locales
package-lock.json
www/i18n/es.json
www/i18n/fr.json
www/i18n/it.json
www/i18n/lo.json